{
    "presets": [
        "@babel/preset-env",
        "@babel/preset-react"
    ],
    "plugins": [
        [
            "import",
            {
                "libraryName": "antd-mobile",
                "style": true
            }
        ],
        "transform-class-properties",
        "@babel/plugin-transform-runtime"
    ]
}